.hero { 
    background-color:$hero-background-color;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    &__overlay {
        max-width: 1600px;
        height: 600px; 
        background-image: linear-gradient(
          to right, 
         $hero-overlay-color, 
         $hero-overlay-color
          ), url(../images/img00.jpg);
      
 
      margin-right: auto;
      margin-left: auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; 
      }
      &__title{

        margin-right: 215px;
        margin-left: 215px;
        margin-bottom: $basic-item-gap;
        
        font-family:$main-font;
          font-weight: 900;
        font-size: 44px;
        line-height: calc(60/44);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $white-text-color;
      }
  }